/* Start Media Queries */

$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

/* End Media Queries */

/* start colors */

$mainColor: #e2494c;
$greyColor: #bebaba;

/* end colors */

/* start Directions */

$float-l: left;
$float-r: right;

$text-right: right;
$text-left: left;

/* end Directions */
