* {
    @include prefixer(box-sizing, border-box, webkit moz);
}

ul, ol {
    padding-left: 0;
    padding-right: 0;
}

.container {
    margin: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    @media #{$minSmall} {
        width: 750px;
    }
    @media #{$minMedium} {
        width: 970px;
    }
    @media #{$minLarge} {
        width: 1175px;
    }
}

.clearfix {
    clear: both;
}

.text-center-xs {
    @media #{$maxMobile} {
        text-align: center;
    }
}