.header {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid $greyColor;
    .logo {
        position: relative;
        @media #{$minSmall}  {
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$minMedium}  {
            width: 30%;
            float: $float-l;
            text-align: $text-left;
        }
        h1 {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    .navbar {
        overflow: hidden;
        background-color: $mainColor;
        border-radius: 15px;
        @media #{minSmall}  {
            width: 100%;
            float: none;
            margin-top: 30px;
            display: block !important;
        }
        @media #{$minMedium}  {
            width: 70%;
            float: $float-l;
            margin-top: 1em;
        }

        @media #{$maxMobile} {
            display: none;
            border-radius: 0;
            margin-top: 30px;
        }


        li {
            width: 20%;
            float: $float-l;
            font-size: 18px;
            text-align: center;
            @media #{$maxMobile} {
                display: block;
                float: none;
                width: 100%;
            }
            a {
                display: block;
                padding: 20px 10px;
                color: #FFF;
                text-decoration: none;
                &:hover {
                    color: #DDD;
                }
            }
        }
    }
}